*{
    margin: 0 0;
}

body{
    display: block;
    height: 100vh;
    width: 100vw;
}

.menu-head{
    height: 5%;
    width: 100%;
    background-color: rgb(206, 206, 206, 0.8);
    display: flex;
}

#imagem-background{
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -1;
    
}

.menu-head .menu-left{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-head .menu-left span{
    font-size: 35px;
}

.menu-head .menu-left a{
    text-decoration: none;
    color: black;
}

.menu-head .menu-right{
    height: 100%;
    width: 50%;
}

.menu-head .menu-right ul{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 5px;
}

.menu-head .menu-right li{
    list-style: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.menu-head .menu-right a{
    text-decoration: none;
    color: black;
}
.menu-head .menu-right a:hover{
    color: #3498db;
}

.container{
    display: flex;
    height: 95%;
    width: 100%;
    justify-content: center;
    align-items: center; 
}

.container .center-container{
    display: flex;
    height: 70%;
    width: 60%;
    margin-bottom: 100px;
    background-color: rgba(97, 131, 110, 0.4);
    border-radius: 20px;
}

.container .center-container .background-container{
    height: 100%;
    width: 100%;
    padding: 20px 0 0 20px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.container .center-container .bloco-texto{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container .center-container .background-container .bloco-texto .sub-texto-destaque{
    font-size: 60px;
    text-align: center;
}

#Texto-destaque{
    font-size: 80px;
    text-align: center;
    color: rgb(240, 240, 175);
    text-shadow: 2px 2px 2px #000;
    margin-bottom: 80px;
}

.container .center-container .background-container .bloco-texto .ip-text{
    font-size: 25px;
    background-color: rgb(206, 206, 206, 1);
    font-weight: bold;
}

.container .center-container .background-container .bloco-texto .ip{
    color: #2b5fee;
    font-size: 25px;   
}

.bloco-texto .bloco-ips{
    text-align: center;
    background-color:rgb(206, 206, 206, 0.8);    
}

.container .center-container .background-container{
    height: 100%;
    width: 100%;
    padding: 20px 0 0 20px;  
}

@media only screen and (max-width: 1220px){
    #Texto-destaque{
        font-size: 60px;
    }   
    .container .center-container .background-container p{
        font-size: 40px;
    }

    .menu-head .menu-right li{
        font-size: 16px;
    }
}

@media only screen and (max-width: 940px){
    #Texto-destaque{
        font-size: 40px;
    }   
    .container .center-container .background-container p{
        font-size: 30px;
    }
    .menu-head .menu-right li{
        font-size: 15px;
    } 
}

@media only screen and (max-width: 640px){
    #Texto-destaque{
        font-size: 30px;
    }   
    .container .center-container .background-container p{
        font-size: 25px;
    }
    .menu-head .menu-right li{
        font-size: 15px;
    } 
}

@media only screen and (max-width: 490px){
    #Texto-destaque{
        font-size: 20px;
    }   
    .container .center-container .background-container p{
        font-size: 18px;
    }
    .menu-head .menu-right li{
        font-size: 15px;
    } 
}
